.project-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust as needed */
  width: 100%;
  padding: 20px;
}



.project-grid {
  display: grid;
  max-width: 1200px; /* Adjust this value as needed */
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap between columns */
}

.project-card {
  background-color: #ffffff; /*the color is just chosen for testing purposes*/
  width: 100%; /* Use full width of the grid item */
  min-height: 300px; /* Ensure a minimum height for the card */
  overflow: hidden;
  position: relative;
  padding: 30px; /* Add padding inside the card */
  box-sizing: border-box; /* Include padding in height calculation */
}

.project-card:nth-child(odd) {
  min-height: 400px; /* Make the first column taller */
}

.project-card:nth-child(even) {
  min-height: 300px; /* Adjust this value as needed */
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card-content {
  text-align: left;
}

.project-card-content h3 {
  margin: 10px;
  font-size: 38px;
  font-weight: 400;
}

.project-card-content p {
  margin: 10px;
  font-size: 20px;
  color: #111827;
}

/* Adjust the position of the second row */
.project-card:nth-child(3),
.project-card:nth-child(4) {
  margin-top: 10px; /* Adjust this value to control how much lower the second row is */
}
