.hero-section {
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  color: #333;
  text-align: start;
}

.hero-section .container {
  max-width: 1200px;
  margin: 0 auto;

}

.hero-section .subtitle {
  font-size: 28px;
  color: #fdfdfd;
  display: inline;
  background-color: gray;
  margin-bottom: 0.5em;
}

.hero-section .title {
  font-size: 92px;
  font-weight: 400;

  margin-bottom: 1em;
}

.hero-section .cta-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 1em;
}

.hero-section .cta-link {
  font-size: 1em;
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.hero-section .cta-link:hover {
  border-bottom: 2px solid #333;
}

.hero-section .cta-link::after {
  content: ' →';
  font-size: 1em;
  margin-left: 5px;
}
